.progress {
  width: 100%;
  position: relative;
  margin: 15px 0;
}

.progress .bar{
  height: 30px;
  background-color: green;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.graybar {
  width: 100%;
  background-color: gray;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}